.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 0;
}

.btn-amazon {
  color: black;
  border: 1px solid #b5a972;
  background: linear-gradient( to bottom, #f7de9f, #f0c14e );

}
.btn-amazon:hover {
  color: black;
  border: 1px solid #b5a972;
  background: linear-gradient( to bottom,  #f0c14e, #bd9e53 );
}

.text-amazon {
  color: #2196f3;
  text-decoration: none;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
